.serial {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 20%;
}

.serial__name {
    font-size: 18px;
    color: #D6E4D5;
}

.imgSerial{
    border-radius: 5px;
    transition: all 0.2s;
}

.imgSerial:hover{
    outline: 5px solid #40927C;
    box-shadow: 0 0 10px 6px #40927C;    
    transform: scale(1.02);
}

