.body {
    display: grid;
    grid-template-rows: 113px auto;
    justify-items: start;
    gap: 15px;
    padding: 10px;
}

.main {
    width: 1320px;
    padding: 20px;
    margin: 0 auto;
    border-radius: 8px;
    @media (max-width: 768px) {
        width: 100%;
        padding: 8px;
    }
}

.title {
    margin: 16px 0;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

.serials {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 8px;
    row-gap: 16px;
}