.body {
    display: grid;
    grid-template-rows: 113px auto;
    justify-items: start;
    gap: 15px;
    padding: 10px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 1320px;
    padding: 20px;
    margin: 0 auto;
    border-radius: 8px;
}

.title {
    margin: 16px 0;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
}

.serials {
    display: flex;
    width: 100%;

}

.loginButton {
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 10px;
    border: 1px solid transparent;
}

.loginButton:hover{
    text-shadow: 10px solid #40927C;
    box-shadow: 0 0 10px 5px #40927C;
}