.serials__btn {
    position: relative;
    width: 150px;
    font-size: 18px;
    color: #000000;
    background-color: #D6E4D5;
    text-align: center;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border-width: 0px;
       
}
.serials__btn:hover{
   outline: 0px solid #40927C;
    box-shadow: 0 0 5px 1px #40927C;
    transform: scale(1.1);
    transition: all 0.2s;
    background-color: #D6E4D5;
}

.serials__btn:active{
    transform: scale(1.1);
    background-color: #40927C;
    
}